<!DOCTYPE html>

<html>
  <head>
    <% require "partials/head.rb" %>
    <title>Eureka - Generate Invention</title>
  </head>

  <body>
    <% $LOAD_PATH << './lib' %>
    <% load 'markov_processor.rb' %>
    <% invention_desc = generate_invention %>

    <div id="wrapper">
      <% require "partials/header.rb" %>
      <article>
        <section class="invention">
          <p><%= invention_desc %></p>
          <form name="save_invention" action="invention" method="post">
            <input type="hidden" name="invention_to_save" value="<%= invention_desc %>" />
          </form>
        </section>
        <a class="save_invention" href="javascript: document.save_invention.submit()">Save this invention</a>
      </article>
      <span class="clear"></span>
      <% require 'partials/footer.rb' %>
    </div>
  </body>
</html>