<!DOCTYPE html>

<html>
  <head>
    <% require "partials/head.rb" %>
    <meta name="verify-v1" content="zGgDhC23bieRZOJnZewsB7vvECfaolGR8WfgLKf25SM\
=" />
    <title>Eureka</title>
  </head>

  <body>
    <div id="wrapper">
    <% require "partials/header.rb" %>
      <article id="generate">
	<a id="generate_button" href="generate">Generate an invention!</a>
	<img id="loading_message" style="display: none;" src='img/loading.gif' />
      </article>
      <% require "partials/footer.rb" %>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-1298975-3");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type='text/javascript' src='js/eureka.js'></script>
  </body>
</html>
